@model IEnumerable<nicoblogproject.Models.CommunityProfile>
@{
    ViewBag.Title = "Profile";
}

<div class="profile-wrapper">
    <div class="profile-picture">
        @if (ViewData["ProfilePicture"] == null)
        {
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Placeholder_no_text.svg/1024px-Placeholder_no_text.svg.png" height="150" width="150" id="profile-picture-content" />
        }
        else
        {
            <img src="@ViewData["ProfilePicture"]" width="150" height="150" id="profile-picture-content" />
        }
    </div>
    <div class="profile-general">

        @foreach (var p in Model)
        {
            if (p.CommunityProfileUsername.Equals(ViewData["Username"]))

            {
                <p>Name: @p.CommunityProfileUsername</p>
                if (!ViewData["EditProfileMode"].ToString().Equals("true"))
                {
                    <div class="edit-button">
                        <form asp-controller="Login" asp-action="EditProfile" method="post">
                            <input type="submit" name="editProfileButton" id="edit-profile-button" value="Edit Profile" />
                        </form>
                    </div>
                    if (p.CommunityProfileSummaryAdded.Equals("true"))
                    {
                        <p id="profile-info-summary">@p.CommunityProfileSummary</p>
                    }
                    if (p.CommunityProfileEmailAdded.Equals("true"))
                    {
                        <p id="profile-info-email">Email: @p.CommunityProfileEmail</p>

                    }
                    if (p.CommunityProfileAgeAdded.Equals("true"))
                    {
                        <p id="profile-info-age">Age: @p.CommunityProfileAge</p>

                    }
                    if (p.CommunityProfileCountryAdded.Equals("true"))
                    {
                        <p id="profile-info-country">Country: @p.CommunityProfileCountry</p>
                    }
                    if (p.CommunityProfileOccupationAdded.Equals("true"))
                    {
                        <p id="profile-info-occupation">Occupation: @p.CommunityProfileOccupation</p>
                    }
                }
                else
                {


                    <div class="stop-edit-button">
                        <form asp-controller="Login" asp-action="StopEditProfile" method="post">
                            <input type="submit" name="stopEditProfileButton" id="stop-edit-profile-button" value="Finish Editing" />
                        </form>
                    </div>

                    <div class="summaryEditing">
                        @if (p.CommunityProfileSummaryAdded.Equals("true"))
                        {
                        <p id="profile-info-summary">@p.CommunityProfileSummary</p>
                        <form asp-controller="Login" asp-action="DefineSummary" method="post">
                            <textarea name="defineSummaryBox" id="defineSummaryBox"></textarea>
                            <input type="submit" value="Update Summary" />
                        </form>
                        <form asp-controller="Login" asp-action="HideSummary" method="post">
                            <input type="submit" value="Hide Summary" />
                        </form>
                        }
                        else
                        {
                            <form asp-controller="Login" asp-action="DefineSummary" method="post">
                                <textarea name="defineSummaryBox" id="defineSummaryBox"></textarea>
                                <input type="submit" value="Update Summary" />
                            </form>
                            <form asp-controller="Login" asp-action="ShowSummary" method="post">
                                <input type="submit" value="Show Summary" />
                            </form>
                        }
                    </div>

                    <div class="emailEditing">
                        @if (p.CommunityProfileEmailAdded.Equals("true"))
                        {
                            <p id="profile-info-email">Email: @p.CommunityProfileEmail</p>
                            <form asp-controller="Login" asp-action="RemoveEmail" method="post">
                                <input type="submit" value="Remove email from profile" />
                            </form>

                        }
                        else
                        {
                            <form asp-controller="Login" asp-action="AddEmail" method="post">
                                <input type="submit" value="Add email to profile" />
                            </form>

                        }
                    </div>

                    <div class="ageEditing">
                        @if (!p.CommunityProfileAgeAdded.Equals("true"))
                        {
                            if (p.CommunityProfileAge != 0)
                            {
                                <form asp-controller="Login" asp-action="DefineAge" method="post">
                                    <input type="text" name="defineAgeBox" id="defineAgeBox" />
                                    <input type="submit" value="Update Age" />
                                </form>
                                <form asp-controller="Login" asp-action="ShowAge" method="post">
                                    <input type="submit" value="Show Age" />
                                </form>
                            }

                        }
                        else
                        {
                            <p id="profile-info-age">Age: @p.CommunityProfileAge</p>
                            if (p.CommunityProfileAge != 0)
                            {
                                <form asp-controller="Login" asp-action="DefineAge" method="post">
                                    <input type="text" name="defineAgeBox" id="defineAgeBox" />
                                    <input type="submit" value="Update Age" />
                                </form>
                                <form asp-controller="Login" asp-action="HideAge" method="post">
                                    <input type="submit" value="Hide Age" />
                                </form>

                            }


                        }
                    </div>

                    <div class="countryEditing">
                        @if (p.CommunityProfileCountryAdded.Equals("true"))
                        {
                            <p id="profile-info-country">Country: @p.CommunityProfileCountry</p>
                            <form asp-controller="Login" asp-action="DefineCountry" method="post">
                                <input type="text" name="defineCountryBox" id="defineCountryBox" />
                                <input type="submit" value="Update Country" />
                            </form>
                            <form asp-controller="Login" asp-action="HideCountry" method="post">
                                <input type="submit" value="Hide Country" />
                            </form>
                        }
                        else
                        {
                            <form asp-controller="Login" asp-action="DefineCountry" method="post">
                                <input type="text" name="defineCountryBox" id="defineCountryBox" />
                                <input type="submit" value="Update Country" />
                            </form>
                            <form asp-controller="Login" asp-action="ShowCountry" method="post">
                                <input type="submit" value="Show Country" />
                            </form>
                        }
                    </div>
                }

            }

        }


        <div class="logout-button">
            <form asp-action="Logout" asp-controller="Login" method="post">
                <input type="submit" id="submit-logout" value="Log out" />
            </form>
        </div>
    </div>



</div>

